body {
    font-family: sans-serif;
    font-size: 12px;
}

table#frames {
    font-size: 11px;
    border-collapse: collapse;
    min-width: 97%;
}
th {
    text-align: left;
}
td {
    padding-right: 5px;
    padding-left: 5px;
}
th#engine {
    width: 100px;
}
th.numheader {
    width: 30px;
}
tr:nth-child(even) {
    background-color: #e8eeef;
}
input#filter {
    width: 400px;
}
